 /*div{
    height:200px;
    width:200px;
    background-color: brown;
    transition:1s ;
}

div:hover{
    height:500px;
    width:500px;

}*/

div{
    height:40px;
    width:300px;
    background-color: blueviolet;
}